<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ordering_and_Billing_System_With_Inventory.My.MySettings.namwahConnectionString"
            connectionString="Data Source=LAPTOP-Q9L5MKKG\SQLEXPRESS;Initial Catalog=namwah;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>